.38_146 { 
	overflow:hidden;
}.e38_146 { 
	background-color:rgba(106.2499974668026, 106.2499974668026, 106.2499974668026, 1);
	width:1231px;
	height:2568px;
	position:absolute;
}.e38_147 { 
	background-color:rgba(255, 255, 255, 1);
	width:1270px;
	height:2627px;
	position:absolute;
	left:0px;
	top:-59px;
	border-radius:6px;
}.e40_336 { 
	width:1175.7899169921875px;
	height:330px;
	position:absolute;
	left:23px;
	top:878px;
}.e40_337 { 
	width:1175.7899169921875px;
	height:264px;
	position:absolute;
	left:0px;
	top:66px;
}.e40_338 { 
	width:267.6974792480469px;
	height:264px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_339 { 
	width:267.6974792480469px;
	height:264px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_340 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:268px;
	height:264px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_341 { 
	color:rgba(0, 0, 0, 1);
	width:166px;
	height:30.183673858642578px;
	position:absolute;
	left:16px;
	top:180px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e40_342 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
	width:267.6974792480469px;
	height:164.7113494873047px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_343 { 
	background-color:rgba(255, 255, 255, 1);
	width:267.6974792480469px;
	height:164.71136474609375px;
	position:absolute;
	left:0px;
	top:0px;
}.40_343 { 
	border:1px solid rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
}.e40_344 { 
	background-color:rgba(255, 255, 255, 1);
	width:231.907470703125px;
	height:109.65777587890625px;
	position:absolute;
	left:17.894994735717773px;
	top:37.15438461303711px;
}.40_344 { 
	border:1px solid rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
}.e40_345 { 
	background-color:rgba(255, 255, 255, 1);
	width:42.78767013549805px;
	height:32.4433479309082px;
	position:absolute;
	left:84.59838104248047px;
	top:24.395061492919922px;
}.40_345 { 
	border:1px solid rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
}.e40_346 { 
	width:69px;
	height:23px;
	position:absolute;
	left:170px;
	top:225px;
}.e40_347 { 
	background-color:rgba(255, 255, 255, 1);
	width:69px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.5px;
	border-top-right-radius:11.5px;
	border-bottom-left-radius:11.5px;
	border-bottom-right-radius:11.5px;
}.e40_348 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:16px;
	position:absolute;
	left:7px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e40_349 { 
	width:69px;
	height:23px;
	position:absolute;
	left:93px;
	top:225px;
}.e40_350 { 
	background-color:rgba(255, 255, 255, 1);
	width:69px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.5px;
	border-top-right-radius:11.5px;
	border-bottom-left-radius:11.5px;
	border-bottom-right-radius:11.5px;
}.e40_351 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:16px;
	position:absolute;
	left:7px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e40_352 { 
	width:69px;
	height:23px;
	position:absolute;
	left:16px;
	top:225px;
}.e40_353 { 
	background-color:rgba(255, 255, 255, 1);
	width:69px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.5px;
	border-top-right-radius:11.5px;
	border-bottom-left-radius:11.5px;
	border-bottom-right-radius:11.5px;
}.e40_354 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:16px;
	position:absolute;
	left:7px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e41_419 { 
	width:35px;
	height:26px;
	position:absolute;
	left:219px;
	top:11px;
	background-image:url(../images/closedheart_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_355 { 
	width:267.6974792480469px;
	height:264px;
	position:absolute;
	left:302.6974792480469px;
	top:0px;
}.e40_356 { 
	width:267.6974792480469px;
	height:264px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_357 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:268px;
	height:264px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_358 { 
	color:rgba(0, 0, 0, 1);
	width:166px;
	height:30.183673858642578px;
	position:absolute;
	left:16px;
	top:180px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e40_359 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
	width:267.6974792480469px;
	height:164.7113494873047px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_360 { 
	background-color:rgba(255, 255, 255, 1);
	width:267.6974792480469px;
	height:164.71136474609375px;
	position:absolute;
	left:0px;
	top:0px;
}.40_360 { 
	border:1px solid rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
}.e40_361 { 
	background-color:rgba(255, 255, 255, 1);
	width:231.907470703125px;
	height:109.65777587890625px;
	position:absolute;
	left:17.894994735717773px;
	top:37.15438461303711px;
}.40_361 { 
	border:1px solid rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
}.e40_362 { 
	background-color:rgba(255, 255, 255, 1);
	width:42.78767013549805px;
	height:32.4433479309082px;
	position:absolute;
	left:84.59838104248047px;
	top:24.395061492919922px;
}.40_362 { 
	border:1px solid rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
}.e40_363 { 
	width:69px;
	height:23px;
	position:absolute;
	left:170px;
	top:225px;
}.e40_364 { 
	background-color:rgba(255, 255, 255, 1);
	width:69px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.5px;
	border-top-right-radius:11.5px;
	border-bottom-left-radius:11.5px;
	border-bottom-right-radius:11.5px;
}.e40_365 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:16px;
	position:absolute;
	left:7px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e40_366 { 
	width:69px;
	height:23px;
	position:absolute;
	left:93px;
	top:225px;
}.e40_367 { 
	background-color:rgba(255, 255, 255, 1);
	width:69px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.5px;
	border-top-right-radius:11.5px;
	border-bottom-left-radius:11.5px;
	border-bottom-right-radius:11.5px;
}.e40_368 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:16px;
	position:absolute;
	left:7px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e40_369 { 
	width:69px;
	height:23px;
	position:absolute;
	left:16px;
	top:225px;
}.e40_370 { 
	background-color:rgba(255, 255, 255, 1);
	width:69px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.5px;
	border-top-right-radius:11.5px;
	border-bottom-left-radius:11.5px;
	border-bottom-right-radius:11.5px;
}.e40_371 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:16px;
	position:absolute;
	left:7px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e41_418 { 
	width:35px;
	height:26px;
	position:absolute;
	left:219.30252075195312px;
	top:11px;
	background-image:url(../images/closedheart_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_372 { 
	width:267.6974792480469px;
	height:264px;
	position:absolute;
	left:605.3949584960938px;
	top:0px;
}.e40_373 { 
	width:267.6974792480469px;
	height:264px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_374 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:268px;
	height:264px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_375 { 
	color:rgba(0, 0, 0, 1);
	width:166px;
	height:30.183673858642578px;
	position:absolute;
	left:16px;
	top:180px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e40_376 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
	width:267.6974792480469px;
	height:164.7113494873047px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_377 { 
	background-color:rgba(255, 255, 255, 1);
	width:267.6974792480469px;
	height:164.71136474609375px;
	position:absolute;
	left:0px;
	top:0px;
}.40_377 { 
	border:1px solid rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
}.e40_378 { 
	background-color:rgba(255, 255, 255, 1);
	width:231.907470703125px;
	height:109.65777587890625px;
	position:absolute;
	left:17.894994735717773px;
	top:37.15438461303711px;
}.40_378 { 
	border:1px solid rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
}.e40_379 { 
	background-color:rgba(255, 255, 255, 1);
	width:42.78767013549805px;
	height:32.4433479309082px;
	position:absolute;
	left:84.59838104248047px;
	top:24.395061492919922px;
}.40_379 { 
	border:1px solid rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
}.e40_380 { 
	width:69px;
	height:23px;
	position:absolute;
	left:170px;
	top:225px;
}.e40_381 { 
	background-color:rgba(255, 255, 255, 1);
	width:69px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.5px;
	border-top-right-radius:11.5px;
	border-bottom-left-radius:11.5px;
	border-bottom-right-radius:11.5px;
}.e40_382 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:16px;
	position:absolute;
	left:7px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e40_383 { 
	width:69px;
	height:23px;
	position:absolute;
	left:93px;
	top:225px;
}.e40_384 { 
	background-color:rgba(255, 255, 255, 1);
	width:69px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.5px;
	border-top-right-radius:11.5px;
	border-bottom-left-radius:11.5px;
	border-bottom-right-radius:11.5px;
}.e40_385 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:16px;
	position:absolute;
	left:7px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e40_386 { 
	width:69px;
	height:23px;
	position:absolute;
	left:16px;
	top:225px;
}.e40_387 { 
	background-color:rgba(255, 255, 255, 1);
	width:69px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.5px;
	border-top-right-radius:11.5px;
	border-bottom-left-radius:11.5px;
	border-bottom-right-radius:11.5px;
}.e40_388 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:16px;
	position:absolute;
	left:7px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e41_420 { 
	width:35px;
	height:26px;
	position:absolute;
	left:218.60504150390625px;
	top:11px;
	background-image:url(../images/closedheart_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_389 { 
	width:267.6974792480469px;
	height:264px;
	position:absolute;
	left:908.0924072265625px;
	top:0px;
}.e40_390 { 
	width:267.6974792480469px;
	height:264px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_391 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:268px;
	height:264px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_392 { 
	color:rgba(0, 0, 0, 1);
	width:166px;
	height:30.183673858642578px;
	position:absolute;
	left:16px;
	top:180px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e40_393 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
	width:267.6974792480469px;
	height:164.7113494873047px;
	position:absolute;
	left:0px;
	top:0px;
}.e40_394 { 
	background-color:rgba(255, 255, 255, 1);
	width:267.6974792480469px;
	height:164.71136474609375px;
	position:absolute;
	left:0px;
	top:0px;
}.40_394 { 
	border:1px solid rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
}.e40_395 { 
	background-color:rgba(255, 255, 255, 1);
	width:231.907470703125px;
	height:109.65777587890625px;
	position:absolute;
	left:17.894994735717773px;
	top:37.15438461303711px;
}.40_395 { 
	border:1px solid rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
}.e40_396 { 
	background-color:rgba(255, 255, 255, 1);
	width:42.78767013549805px;
	height:32.4433479309082px;
	position:absolute;
	left:84.59838104248047px;
	top:24.395061492919922px;
}.40_396 { 
	border:1px solid rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
}.e40_397 { 
	width:69px;
	height:23px;
	position:absolute;
	left:170px;
	top:225px;
}.e40_398 { 
	background-color:rgba(255, 255, 255, 1);
	width:69px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.5px;
	border-top-right-radius:11.5px;
	border-bottom-left-radius:11.5px;
	border-bottom-right-radius:11.5px;
}.e40_399 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:16px;
	position:absolute;
	left:7px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e40_400 { 
	width:69px;
	height:23px;
	position:absolute;
	left:93px;
	top:225px;
}.e40_401 { 
	background-color:rgba(255, 255, 255, 1);
	width:69px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.5px;
	border-top-right-radius:11.5px;
	border-bottom-left-radius:11.5px;
	border-bottom-right-radius:11.5px;
}.e40_402 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:16px;
	position:absolute;
	left:7px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e40_403 { 
	width:69px;
	height:23px;
	position:absolute;
	left:16px;
	top:225px;
}.e40_404 { 
	background-color:rgba(255, 255, 255, 1);
	width:69px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.5px;
	border-top-right-radius:11.5px;
	border-bottom-left-radius:11.5px;
	border-bottom-right-radius:11.5px;
}.e40_405 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:16px;
	position:absolute;
	left:7px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e41_421 { 
	width:35px;
	height:26px;
	position:absolute;
	left:218.9075927734375px;
	top:11px;
	background-image:url(../images/closedheart_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_406 { 
	color:rgba(0, 0, 0, 1);
	width:485px;
	height:53px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.899999976158142;
	line-height:px;
}.e40_335 { 
	width:1175.7899169921875px;
	height:330px;
	position:absolute;
	left:23px;
	top:520px;
}.e38_148 { 
	width:1175.7899169921875px;
	height:264px;
	position:absolute;
	left:0px;
	top:66px;
}.e38_149 { 
	width:267.6974792480469px;
	height:264px;
	position:absolute;
	left:0px;
	top:0px;
}.e38_150 { 
	width:267.6974792480469px;
	height:264px;
	position:absolute;
	left:0px;
	top:0px;
}.e38_151 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:268px;
	height:264px;
	position:absolute;
	left:0px;
	top:0px;
}.e38_152 { 
	color:rgba(0, 0, 0, 1);
	width:166px;
	height:30.183673858642578px;
	position:absolute;
	left:16px;
	top:180px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e38_153 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
	width:267.6974792480469px;
	height:164.7113494873047px;
	position:absolute;
	left:0px;
	top:0px;
}.e38_154 { 
	background-color:rgba(255, 255, 255, 1);
	width:267.6974792480469px;
	height:164.71136474609375px;
	position:absolute;
	left:0px;
	top:0px;
}.38_154 { 
	border:1px solid rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
}.e38_155 { 
	background-color:rgba(255, 255, 255, 1);
	width:231.907470703125px;
	height:109.65777587890625px;
	position:absolute;
	left:17.894994735717773px;
	top:37.15438461303711px;
}.38_155 { 
	border:1px solid rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
}.e38_156 { 
	background-color:rgba(255, 255, 255, 1);
	width:42.78767013549805px;
	height:32.4433479309082px;
	position:absolute;
	left:84.59838104248047px;
	top:24.395061492919922px;
}.38_156 { 
	border:1px solid rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
}.e38_157 { 
	width:69px;
	height:23px;
	position:absolute;
	left:170px;
	top:225px;
}.e38_158 { 
	background-color:rgba(255, 255, 255, 1);
	width:69px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.5px;
	border-top-right-radius:11.5px;
	border-bottom-left-radius:11.5px;
	border-bottom-right-radius:11.5px;
}.e38_159 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:16px;
	position:absolute;
	left:7px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e38_160 { 
	width:69px;
	height:23px;
	position:absolute;
	left:93px;
	top:225px;
}.e38_161 { 
	background-color:rgba(255, 255, 255, 1);
	width:69px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.5px;
	border-top-right-radius:11.5px;
	border-bottom-left-radius:11.5px;
	border-bottom-right-radius:11.5px;
}.e38_162 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:16px;
	position:absolute;
	left:7px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e38_163 { 
	width:69px;
	height:23px;
	position:absolute;
	left:16px;
	top:225px;
}.e38_164 { 
	background-color:rgba(255, 255, 255, 1);
	width:69px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.5px;
	border-top-right-radius:11.5px;
	border-bottom-left-radius:11.5px;
	border-bottom-right-radius:11.5px;
}.e38_165 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:16px;
	position:absolute;
	left:7px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e41_413 { 
	width:25px;
	height:24px;
	position:absolute;
	left:231px;
	top:10px;
	background-image:url(../images/openheart_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e38_166 { 
	width:267.6974792480469px;
	height:264px;
	position:absolute;
	left:302.6974792480469px;
	top:0px;
}.e38_167 { 
	width:267.6974792480469px;
	height:264px;
	position:absolute;
	left:0px;
	top:0px;
}.e38_168 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:268px;
	height:264px;
	position:absolute;
	left:0px;
	top:0px;
}.e38_169 { 
	color:rgba(0, 0, 0, 1);
	width:166px;
	height:30.183673858642578px;
	position:absolute;
	left:16px;
	top:180px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e38_170 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
	width:267.6974792480469px;
	height:164.7113494873047px;
	position:absolute;
	left:0px;
	top:0px;
}.e38_171 { 
	background-color:rgba(255, 255, 255, 1);
	width:267.6974792480469px;
	height:164.71136474609375px;
	position:absolute;
	left:0px;
	top:0px;
}.38_171 { 
	border:1px solid rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
}.e38_172 { 
	background-color:rgba(255, 255, 255, 1);
	width:231.907470703125px;
	height:109.65777587890625px;
	position:absolute;
	left:17.894994735717773px;
	top:37.15438461303711px;
}.38_172 { 
	border:1px solid rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
}.e38_173 { 
	background-color:rgba(255, 255, 255, 1);
	width:42.78767013549805px;
	height:32.4433479309082px;
	position:absolute;
	left:84.59838104248047px;
	top:24.395061492919922px;
}.38_173 { 
	border:1px solid rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
}.e38_174 { 
	width:69px;
	height:23px;
	position:absolute;
	left:170px;
	top:225px;
}.e38_175 { 
	background-color:rgba(255, 255, 255, 1);
	width:69px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.5px;
	border-top-right-radius:11.5px;
	border-bottom-left-radius:11.5px;
	border-bottom-right-radius:11.5px;
}.e38_176 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:16px;
	position:absolute;
	left:7px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e38_177 { 
	width:69px;
	height:23px;
	position:absolute;
	left:93px;
	top:225px;
}.e38_178 { 
	background-color:rgba(255, 255, 255, 1);
	width:69px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.5px;
	border-top-right-radius:11.5px;
	border-bottom-left-radius:11.5px;
	border-bottom-right-radius:11.5px;
}.e38_179 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:16px;
	position:absolute;
	left:7px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e38_180 { 
	width:69px;
	height:23px;
	position:absolute;
	left:16px;
	top:225px;
}.e38_181 { 
	background-color:rgba(255, 255, 255, 1);
	width:69px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.5px;
	border-top-right-radius:11.5px;
	border-bottom-left-radius:11.5px;
	border-bottom-right-radius:11.5px;
}.e38_182 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:16px;
	position:absolute;
	left:7px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e41_415 { 
	width:25px;
	height:24px;
	position:absolute;
	left:231.30252075195312px;
	top:10px;
	background-image:url(../images/openheart_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e38_183 { 
	width:267.6974792480469px;
	height:264px;
	position:absolute;
	left:605.3949584960938px;
	top:0px;
}.e38_184 { 
	width:267.6974792480469px;
	height:264px;
	position:absolute;
	left:0px;
	top:0px;
}.e38_185 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:268px;
	height:264px;
	position:absolute;
	left:0px;
	top:0px;
}.e38_186 { 
	color:rgba(0, 0, 0, 1);
	width:166px;
	height:30.183673858642578px;
	position:absolute;
	left:16px;
	top:180px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e38_187 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
	width:267.6974792480469px;
	height:164.7113494873047px;
	position:absolute;
	left:0px;
	top:0px;
}.e38_188 { 
	background-color:rgba(255, 255, 255, 1);
	width:267.6974792480469px;
	height:164.71136474609375px;
	position:absolute;
	left:0px;
	top:0px;
}.38_188 { 
	border:1px solid rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
}.e38_189 { 
	background-color:rgba(255, 255, 255, 1);
	width:231.907470703125px;
	height:109.65777587890625px;
	position:absolute;
	left:17.894994735717773px;
	top:37.15438461303711px;
}.38_189 { 
	border:1px solid rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
}.e38_190 { 
	background-color:rgba(255, 255, 255, 1);
	width:42.78767013549805px;
	height:32.4433479309082px;
	position:absolute;
	left:84.59838104248047px;
	top:24.395061492919922px;
}.38_190 { 
	border:1px solid rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
}.e38_191 { 
	width:69px;
	height:23px;
	position:absolute;
	left:170px;
	top:225px;
}.e38_192 { 
	background-color:rgba(255, 255, 255, 1);
	width:69px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.5px;
	border-top-right-radius:11.5px;
	border-bottom-left-radius:11.5px;
	border-bottom-right-radius:11.5px;
}.e38_193 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:16px;
	position:absolute;
	left:7px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e38_194 { 
	width:69px;
	height:23px;
	position:absolute;
	left:93px;
	top:225px;
}.e38_195 { 
	background-color:rgba(255, 255, 255, 1);
	width:69px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.5px;
	border-top-right-radius:11.5px;
	border-bottom-left-radius:11.5px;
	border-bottom-right-radius:11.5px;
}.e38_196 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:16px;
	position:absolute;
	left:7px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e38_197 { 
	width:69px;
	height:23px;
	position:absolute;
	left:16px;
	top:225px;
}.e38_198 { 
	background-color:rgba(255, 255, 255, 1);
	width:69px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.5px;
	border-top-right-radius:11.5px;
	border-bottom-left-radius:11.5px;
	border-bottom-right-radius:11.5px;
}.e38_199 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:16px;
	position:absolute;
	left:7px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e41_416 { 
	width:25px;
	height:24px;
	position:absolute;
	left:230.60504150390625px;
	top:10px;
	background-image:url(../images/openheart_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e38_310 { 
	width:267.6974792480469px;
	height:264px;
	position:absolute;
	left:908.0924072265625px;
	top:0px;
}.e38_311 { 
	width:267.6974792480469px;
	height:264px;
	position:absolute;
	left:0px;
	top:0px;
}.e38_312 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:268px;
	height:264px;
	position:absolute;
	left:0px;
	top:0px;
}.e38_313 { 
	color:rgba(0, 0, 0, 1);
	width:166px;
	height:30.183673858642578px;
	position:absolute;
	left:16px;
	top:180px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e38_314 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 238.00000101327896, 1);
	width:267.6974792480469px;
	height:164.7113494873047px;
	position:absolute;
	left:0px;
	top:0px;
}.e38_315 { 
	background-color:rgba(255, 255, 255, 1);
	width:267.6974792480469px;
	height:164.71136474609375px;
	position:absolute;
	left:0px;
	top:0px;
}.38_315 { 
	border:1px solid rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
}.e38_316 { 
	background-color:rgba(255, 255, 255, 1);
	width:231.907470703125px;
	height:109.65777587890625px;
	position:absolute;
	left:17.894994735717773px;
	top:37.15438461303711px;
}.38_316 { 
	border:1px solid rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
}.e38_317 { 
	background-color:rgba(255, 255, 255, 1);
	width:42.78767013549805px;
	height:32.4433479309082px;
	position:absolute;
	left:84.59838104248047px;
	top:24.395061492919922px;
}.38_317 { 
	border:1px solid rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
}.e38_318 { 
	width:69px;
	height:23px;
	position:absolute;
	left:170px;
	top:225px;
}.e38_319 { 
	background-color:rgba(255, 255, 255, 1);
	width:69px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.5px;
	border-top-right-radius:11.5px;
	border-bottom-left-radius:11.5px;
	border-bottom-right-radius:11.5px;
}.e38_320 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:16px;
	position:absolute;
	left:7px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e38_321 { 
	width:69px;
	height:23px;
	position:absolute;
	left:93px;
	top:225px;
}.e38_322 { 
	background-color:rgba(255, 255, 255, 1);
	width:69px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.5px;
	border-top-right-radius:11.5px;
	border-bottom-left-radius:11.5px;
	border-bottom-right-radius:11.5px;
}.e38_323 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:16px;
	position:absolute;
	left:7px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e38_324 { 
	width:69px;
	height:23px;
	position:absolute;
	left:16px;
	top:225px;
}.e38_325 { 
	background-color:rgba(255, 255, 255, 1);
	width:69px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:11.5px;
	border-top-right-radius:11.5px;
	border-bottom-left-radius:11.5px;
	border-bottom-right-radius:11.5px;
}.e38_326 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:16px;
	position:absolute;
	left:7px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e41_417 { 
	width:25px;
	height:24px;
	position:absolute;
	left:230.9075927734375px;
	top:10px;
	background-image:url(../images/openheart_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e40_334 { 
	color:rgba(0, 0, 0, 1);
	width:299px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:-1.899999976158142;
	line-height:px;
}.e40_328 { 
	width:1270px;
	height:377px;
	position:absolute;
	left:0px;
	top:115px;
}.e38_292 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1270px;
	height:377px;
	position:absolute;
	font-family:Inter;
	left:0px;
	top:0px;
}.e40_332 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:38px;
	position:absolute;
	left:334px;
	top:231px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.899999976158142;
	line-height:px;
}.e40_331 { 
	color:rgba(0, 0, 0, 1);
	width:121px;
	height:72px;
	position:absolute;
	left:484px;
	top:185px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.899999976158142;
	line-height:px;
}.e40_330 { 
	color:rgba(0, 0, 0, 1);
	width:121px;
	height:72px;
	position:absolute;
	left:334px;
	top:185px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:-1.899999976158142;
	line-height:px;
}.e40_329 { 
	color:rgba(0, 0, 0, 1);
	width:299px;
	height:52px;
	position:absolute;
	left:334px;
	top:107px;
	font-family:Inter;
	text-align:left;
	font-size:52px;
	letter-spacing:-1.899999976158142;
	line-height:px;
}.e40_327 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:245px;
	height:245px;
	position:absolute;
	left:51px;
	top:66px;
}.e38_232 { 
	width:1176px;
	height:62px;
	position:absolute;
	left:23px;
	top:25px;
}.e38_231 { 
	background-color:rgba(184.87500607967377, 184.87500607967377, 184.87500607967377, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:1116px;
	top:1px;
}.e38_233 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:149px;
	height:32px;
	position:absolute;
	left:693px;
	top:15px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.899999976158142;
	line-height:px;
}.e38_234 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:146px;
	height:32px;
	position:absolute;
	left:912px;
	top:15px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:-1.899999976158142;
	line-height:px;
}