/* Style inputs, select elements */
input[type=text], input[type=password], select{
  width: 100%;
  padding: 12px;
  border: 1px solid #1a817b;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  background-color: rgba(26, 129, 124, 0.2);
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-family: "Georgia", Times, serif;
}

/* Style the login button */
input[type=submit] {
  background-color: #49624b;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: 10px;
  margin-right: 520px;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 10%;
  margin-top: 6px;
  margin-left: 425px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 25%;
  margin-top: 6px;
  margin-left: 25px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
} */

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
